{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe - La Boutique Française{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>

    <br/>

    <a href="{{path('app_account')}}">Retourner à mon compte</a>

    {{ form(form) }}

    <br/>
{% endblock %}
